.DS_Store

# kill any archives before they get anywhere near our repo.
*.tar.gz
*.tgz
*.tar.bz2
*.tar.xz
*.zip
*.log
*.fd
./misc/edk2-arm-vars.fd
*.pem
*.crt

# Ignores any build dir named dist (binutils/gcc use OBJDIR=dist), but keeps
# the top-level one in the tree: build scripts assume $DIST already exists.
dist
!/dist/
/dist/*
!/dist/.gitkeep
